# 🛑 Laravel - Archivos esenciales que NO deben subirse

# Entorno y Configuración
.env
.env.*
!.env.example  # Mantiene el ejemplo de env

# Dependencias y archivos compilados
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/bootstrap/cache

# Archivos de logs y caché
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/framework/*
/storage/logs/*
/storage/pail
.phpunit.cache
.phpunit.result.cache

# Archivos de depuración y dependencias internas
composer.lock
yarn.lock
npm-debug.log
yarn-error.log
/.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json

# Archivos de IDEs (VSCode, PHPStorm, Fleet, etc.)
/.fleet
/.idea
/.vscode
/.phpstorm.meta.php
/.nova
/.zed

# Otros archivos innecesarios
.DS_Store
Thumbs.db
