@import "../base/variables"; // Importamos las variables antes de usarlas
// Estilos generales para los contenedores de autenticación
.auth-container {
    max-width: 400px;
    width: 100%;
    background: #e6e6fa;
    padding: 24px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000001a;
    text-align: center;
    h1 {
        color: $color-dark;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        label {
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            color: $color-dark;
        }
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            transition: border 0.3s ease;
            &:focus {
                border-color: $color-primary;
                outline: none;
            }
        }
        .password-container {
            position: relative;
            input {
                padding-right: 40px;
            }
            .toggle-password {
                right: 10px;
                color: $color-primary;
            }
        }
        button {
            background: $color-primary;
            color: white;
            padding: 12px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
            &:hover {
                background: darken($color-primary, 10%);
            }
        }
    }
    p {
        font-size: 14px;
        color: $color-dark;
        margin-top: 10px;
        a {
            color: $color-accent;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
            &:hover {
                color: darken($color-accent, 10%);
            }
        }
    }
}

// Solo aplicamos los estilos al body cuando es una página de autenticación
.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    main.container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem; // evita que se pegue demasiado a los bordes en móvil
    }
}

// Responsividad
@media (max-width: 500px) {
    .auth-container {
        max-width: 90%;
    }
}
