@import "base/variables";
@import "base/typography";
@import "pages/login";
// Contenedor del campo de contraseña con el icono
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    input {
        width: 100%;
        padding: 10px;
        padding-right: 40px; // Espacio para el icono
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    // Icono del ojo
    .toggle-password {
        position: absolute;
        right: 10px;
        cursor: pointer;
        font-size: 18px;
        color: #555;
        transition: color 0.3s ease;
        &:hover {
            color: #007bff; // Azul al pasar el ratón
        }
        &:active {
            color: #0056b3; // Azul más oscuro al hacer clic, sin cambiar tamaño
        }
    }
}

.no-select {
    user-select: none; // Evita que el texto se seleccione
}